In [22]:
import numpy as np
import pandas as pd

In [23]:
f = open('BX-Book-Ratings.csv', 'r')

In [24]:
books_ratings = pd.read_csv('BX-Book-Ratings.csv')

In [25]:
print('Unique users count: {}'.format(len(books_ratings['UserID'].unique())))
print('Unique books count: {}'.format(len(books_ratings['ISBN'].unique())))
print('DataFrame shape: {}'.format(books_ratings.shape))

books_ratings.head()

Unique users count: 105283
Unique books count: 340258
DataFrame shape: (1149780, 3)

   UserID        ISBN  BookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [26]:
n = 95000
book_ratings_df_sample = books_ratings[:n]
n_users = len(book_ratings_df_sample["UserID"].unique())
n_books = len(book_ratings_df_sample["ISBN"].unique())

(n_users, n_books)

(8648, 61513)

In [27]:

books = books_ratings["ISBN"].unique()

def scale_books_id(ISBN):
  scaled = np.where(ISBN == ISBN)[0][0] + 1
  return scaled
books_ratings['ISBN']=books_ratings['ISBN'].apply(scale_books_id)
books_ratings.head()

   UserID  ISBN  BookRating
0  276725     1           0
1  276726     1           5
2  276727     1           0
3  276729     1           3
4  276729     1           6

In [28]:
book_ratings_df_sample.head()

   UserID        ISBN  BookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [29]:
book_ratings_df_sample.shape

(95000, 3)

In [30]:

from sklearn.model_selection import train_test_split

train_dataset, test_dataset = train_test_split(book_ratings_df_sample, test_size = 0.25)

print(train_dataset.shape)
print('Train shape: {}'.format(train_dataset.shape))
print('Test shape: {}'.format(test_dataset.shape))

(71250, 3)
Train shape: (71250, 3)
Test shape: (23750, 3)

In [52]:
from sklearn.metrics import mean_squared_error
from math import sqrt


def rmse(prediction, ground_truth):
    prediction = np.nan_to_num(prediction)[ground_truth.nonzero()].flatten()
    ground_truth = np.nan_to_num(ground_truth)[ground_truth.nonzero()].flatten()

    mse = mean_squared_error(prediction, ground_truth)
    return sqrt(mse)

train_data_matrix = np.zeros((n_users, n_books))
for line in train_dataset.itertuples():
    print(train_dataset.shape)
    print(test_dataset.shape)
    print(int(line[1])-2, int(line[2])-2, int(line[3]))
    train_data_matrix[int(line[1])-2, int(line[2])-2] = int(line[3])

test_data_matrix = np.zeros((n_users, n_books))
for line in test_dataset.itertuples():
    test_data_matrix[int(line[1]) - 1, int(line[2]) - 1] = int(line[3])

(71250, 3)
(23750, 3)
16632 805208915 10

IndexError: index 16632 is out of bounds for axis 0 with size 8648

In [40]:
books_df = pd.read_csv("BX_Books.csv")
data_df = pd.merge(ratings_df, movies_df, on = "ISBN")
data_df.head()

ParserError: Error tokenizing data. C error: Expected 8 fields in line 10824, saw 9

8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 1190: invalid continuation byte